@import "./components/footer.css";

* {
   box-sizing: border-box;
}

.textareaChat {
    resize: none;
    width: 80%;
    background-color: black;
    color: gold;
}

.stammtischForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin: 0 0 5% 0;;
}

.stammtischTitle {
   text-align: center;
}

.stammtischBody {
   padding: 0;
   margin: 0;
}
.cityBody {
   padding: 0;
   margin: 0;
}

.shopBody {
   padding: 0;
   margin: 0;
}

.settingsBody {
   padding: 0;
   margin: 0;
}

.profileBody {
   padding: 0;
   margin: 0;
}


.stammtischChatWindow {
   display: flex;
   justify-content: center;
   gap: 3%;
}

.stammtischChatButton {
   align-self: stretch;
   color: gold;
   background-color: black;
}


