.footerNavigation {

  position: fixed;
  bottom: 2%;
  width: 100%;
  height: 10%;
  display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
}

.footerNavigation > * {
  flex-grow: 1;
  width: 100%;
}

.footerNavigation button {
  flex-grow: 1;
  width: 100%;
}

.cityButton {
  background-color: black;
  fill: gold;
}

.stammtischButton {
  background-color: black;
  fill: gold;
}

.shopButton {
  background-color: black;
  fill: gold;
}

.settingsButton {
  background-color: black;
  fill: gold;
}

.profileButton {
  background-color: black;
  fill: gold;
}